<!doctype html>
<html>
<!-- styles -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

   <body>
<!-- scripts -->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <h2 style = "text-align: center;">Manhole Form</h2>

      {% for message in form.name.errors %}
         <div>{{ message }}</div>
      {% endfor %}

   <form action = "/result" method = post>
       <fieldset>
            <legend>Manhole Form</legend>
           {{ form.hidden_tag() }}
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
                 {{ form.name.label }} : {{ form.name }}
               <br>
                {{ form.gl.label }} : {{ form.gl }}
                <br>
                {{ form.il.label }} : {{ form.il }}
                <br>
                {{ form.x.label }} : {{ form.x }}
                <br>
                {{ form.y.label }} : {{ form.y }}
                <br>
               {{ form.submit }}
                           </div>

         </fieldset>
      </form>
<a href="/download"><b>Dosyalar</b></a>
   </body>
</html>